table{
    border: 1px;
    border-style: solid;
    background-color: darkslategray;
    color: aliceblue;
  }
th{
    border: 3px;
    border-style: dotted;
    border-color: crimson;
}
td{
  border: 3px;
  border-style: dotted;
  border-color: cyan;
}